---
import '../styles/base.css';
import '@fontsource/bebas-neue';
import '@fontsource-variable/rubik';
import {SEO} from "astro-seo";
import {ClientRouter} from 'astro:transitions';
import Logo from "../components/Logo.astro";
import Footer from "../components/Footer.astro";

export interface Props {
    title: string;
    description: string;
}

const {title, description} = Astro.props;
const isProduction = import.meta.env.PROD;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <meta name="generator" content={Astro.generator}/>
    <link rel="sitemap" href="/sitemap-index.xml"/>
    <title>{title}</title>
    <ClientRouter/>
    <SEO
            description={description}
            openGraph={{
                basic: {
                    title: title,
                    type: "website",
                    image: "https://appsbyluke.com/og-facebook.png",
                },
                image: {
                    alt: title
                }
            }}
            twitter={{
                title: title,
                creator: "@appsbyluke",
                image: "https://appsbyluke.com/og-twitter.png",
                imageAlt: title
            }}
    ></SEO>
    <meta property="og:logo" content="https://appsbyluke.com/appsbyluke.svg" />

    {isProduction && (
        <script type="text/javascript" defer data-domain="appsbyluke.com" src="https://plausible.makeitlogical.io/js/script.file-downloads.hash.outbound-links.pageview-props.tagged-events.js"></script>
        <script>window.plausible = window.plausible || function() {(window.plausible.q = window.plausible.q || []).push(arguments) }</script>
    )}
</head>
<body class="font-sans">
    <div class="flex flex-col min-h-screen">
        <Logo />
        <main transition:animate="initial" class="grow overflow-hidden">
            <slot/>
        </main>
        <Footer/>
    </div>
</body>
</html>

<style is:global>
    h1 {
        font-family: 'Bebas Neue', sans-serif;
    }
</style>